.expenseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  height: 160px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  margin: 15px;
  font-size: 25px;
}
.expenseContainer button {
  background-color: firebrick;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
}
@media screen and (max-width: 768px) {
  .expenseContainer {
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 10px;
  }

  .expenseContainer button {
    margin-top: 10px;
  }
}
